@charset "UTF-8";
*{
    font-size: 1rem;
}

h1{
    font-size: 1.5rem;
}
.default-header{
    font-size: 1.2rem;
}
#functions > button {
    display: block;
    margin-bottom: 0.5rem;
    border: outset;    
}
#functions > button:hover {
    border: inset;
}

#functions > button:active {
    background-color: #aaa;
    color: #555;
}

#input-text {
    margin-right: 0.5rem;
}

#result{
    background-color: #eee;
    border: solid 1px #000;
    padding: 0.5rem;
    max-height: 35rem;
    overflow: auto;
    font-size: 0.8rem;
}
